#hero{
    background-image: url(/images/lofi2.jpg);
    height: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
